<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property.property_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Picture take at:</strong>
  <%= @property.picture_take_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user %>
</p>

<p>
  <strong>Image:</strong>
  <%= @property.image %>
</p>

<p>
  <strong>Image filename:</strong>
  <%= @property.image_filename %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
